- if user_signed_in?
  %h2= link_to "Hop Styles", '/hops/index'
  %h2= @hop.name
  - if @hop.country?
    %h2= @hop.country.display_name
  %p= @hop.description
  %h4= "Alpha Acid minimum: #{@hop.alpha_acid_min}"
  %h4= "Beta Acid minimum: #{@hop.beta_acid_min}"
  %h4= "Beta Acid minimum: #{@hop.beta_acid_max}"
  %h4= "Caryophyllene minimum: #{@hop.caryophyllene_min}"
  %h4= "Caryophyllene maximum: #{@hop.caryophyllene_max}"
  %h4= "Cohumulone minimum: #{@hop.cohumulone_min}"
  %h4= "Cohumulone maximum: #{@hop.cohumulone_max}"
  %h4= "Farnesene minimum: #{@hop.farnesene_min}"
  %h4= "Farnesene maximum: #{@hop.farnesene_max}"
  %h4= "Humulene minimum: #{@hop.humulene_min}"
  %h4= "Humulene maximum: #{@hop.humulene_max}"


- else
  %h2 Please Try Again
