- if user_signed_in?

  %h2 Styles
  %ul#styles.list
  - @styles.each do |style|
    %li.item
      = style.name
      = style.category.name

  %h2 Hops
  %ul#hops.list
  - @hops.each do |hop|
    %li.item
      = hop.name

  %h2 Malts
  %ul#fermentables.list
  - @fermentables.each do |fermentable|
    %li.item
      = fermentable.name

  %h2 Yeast Strains
  %ul#yeasts.list
  - @yeasts.each do |yeast|
    %li.item
      = yeast.name

  %h2 Additional Ingredients
  %ul#adjuncts.list
  - @adjuncts.each do |adjunct|
    %li.item
      = adjunct.name


- else
  %h1 Welcome to brewLab!
  %h3 brewLab is a cloud based data logger for home brewing (mmm beeeer!)
  %h3 brewLab supports autonomous datacollection via Wifi-Enabled Arduino and REST protocol
  %h3 You can also enter data manually if you don't have access to an Arduino
