- if user_signed_in?
  %h1= link_to "Recipe Calculator", 'calc'
  %h2= link_to "Recipes", '/recipes'
  %h2= link_to "Beer Styles", 'styles/index'
  %h2= link_to "Hop Styles", 'hops/index'
  %h2= link_to "Malt Styles", 'malts/index'

- else
  %h1 Welcome to brewLab!
  %h3 brewLab is a recipe creation and data logging tool for home brewing (mmmm beeeer!)
